<main class="contenedor">
  <form method="POST" action="/iniciar-sesion" class="default-form">
    <div class="campo">
      <label for="email">E-Mail</label>
      <input type="email" name="email" id="email" placeholder="Ingresa tu email" required />
    </div>

    <div class="campo">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Ingresa tu Password" required />
    </div>

    <div class="campo acciones">
      <a href="/crear-cuenta">Crear una cuenta</a>
      <a href="/reestablecer-password">Olvidé mi password</a>
    </div>

    <div class="campo">
      <input type="submit" value="Iniciar Sesión" class="btn btn-azul" />
    </div>
  </form>
</main>